@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./fonts.css";

:root {
  --background: #353238;
  --foreground: #171717;
}

@layer base {
  h1 {
    @apply text-center font-bold text-2xl;
  }

  .form-wrap {
    @apply flex flex-col items-center justify-center h-full;
  }
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: white;
  font-family: "Pretendard", sans-serif;
}
